#carousel-movie-poster {
  background-image: url("assets/overview.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 50px;
  position: relative;
}
#carousel-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white !important;
  width: 100%;
}

.carousel-item h2 {
  cursor: default;
  animation: slide 4s forwards ease-in-out;
}
body {
  background-color: black;
}
@keyframes slide {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
